# Video Game Sales Analysis

In [1]:
# Importing plotly graphs as "go" & "Counter" to specify it is from a collection in Plotly 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
import plotly.graph_objs as go
import plotly.express as px
from collections import Counter

In [5]:
!pip install plotly

Requirement already satisfied: plotly in c:\programdata\anaconda3\lib\site-packages (5.6.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from plotly) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from plotly) (8.0.1)

In [2]:
data = pd.read_csv("Video_Games_Sales.csv")
data.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data.shape

(16719, 16)

In [7]:
data.dtypes

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score          object
User_Count         float64
Developer           object
Rating              object
dtype: object

In [11]:
#to count the # of occurences of 1 column 'Platform' use .value_counts.
data['Platform'].value_counts().head(3)

PS2    2161
DS     2152
PS3    1331
Name: Platform, dtype: int64

In [2]:
# to grapht the most common platform. Using a Bar chart with Title.
platform = Counter(data['Name'].tolist()).most_common(15)
x = [x[0] for x in platform]
y = [x[1] for x in platform]

#go is to call the Plotly collection (for Bar chart)
fig = go.Bar(x = x,
            y = y)
            #marker = dict(color = 'rgba(0, 157, 220, 0.85)',
                          #line=dict(color = 'rgb(25, 20, 20)')))

layout = go.Layout()
fig = go.Figure(data = fig, layout = layout)

fig.update_layout(title_text='Top 15 Video Games')
fig.show()

NameError: name 'Counter' is not defined